<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528810518418-op4eq5ib55v7hvvdcte7krbmr0rqa7b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528810518418-op4eq5ib55v7hvvdcte7krbmr0rqa7b6</string>
	<key>API_KEY</key>
	<string>AIzaSyAtDQPWJRN3F715p8ybuPI4KLpuLR9o5Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>528810518418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.majalengka.kursmatauang</string>
	<key>PROJECT_ID</key>
	<string>kursmatauang-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>kursmatauang-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528810518418:ios:7a70959620a5be499fc34b</string>
	<key>DATABASE_URL</key>
	<string>https://kursmatauang-2020.firebaseio.com</string>
</dict>
</plist>